streamlit~=1.30.0
qdrant-client~=1.14.2
google-generativeai
tqdm~=4.67.1
sentence-transformers~=4.1.0
protobuf~=4.25.8
python-dotenv~=1.0.1
requests~=2.32.3
config~=0.5.1
langchain-text-splitters~=0.3.8
langchain-core~=0.3.65
langchain-community~=0.3.25